{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="slab-img">
        <img src="{{slab.picture}}" alt="slab picture" style="width: 300px; ">
    </div>
    <div class="slab-img-info">
        <p> Amount Left = {{slab.amount_left}} %</p>


    </div>

    <form method="POST" id="cut_slab_form" enctype="multipart/form-data">
        {{ form.hidden_tag() }} {% for field in form if field.widget.input_type != 'hidden' %} {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span> {% endfor %} {{ field(placeholder=field.label.text, class="form-control") }} {% endfor %}

        <div class="buttons">
            <button class="btn">Enter</button>
        </div>
    </form>
    <div>
        <p> Job Name not found?<br>
            <a href=/job/new>Add a Job</a>
        </p>
    </div>
</div>{% endblock %}