<!-- admin user type -->
{% if user.user_type.type == 'Admin' %} {% extends '/users/admin.html' %}
<!-- office user type -->
{% elif user.user_type.type == 'Office' %} {% extends '/users/office.html' %}
<!-- regular user -->
{% elif user.user_type.type == 'Reciever' or user.user_type.type == 'Fabricator' %} {% extends 'base.html' %} {% endif %} {% block content %}
<div class="container mt-5">
    <h2>Recieve New Slab</h2>
    <form method="POST" id="user_form" enctype="multipart/form-data">
        {{ form.hidden_tag() }} {{form.picture.label}}: {{form.picture(accept="image/*",class='form-control')}} {% for field in form if field.widget.input_type != 'hidden' and field.label.text != 'Picture' %} {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span> {% endfor %} {{ field(placeholder=field.label.text, class="form-control") }} {% endfor %}
        <div class="buttons">
            <button class="btn">Enter</button>
        </div>
    </form>
</div>
{% endblock %}