<!-- admin user type -->
{% if user.user_type.type == 'Admin' %} {% extends '/users/admin.html' %}
<!-- office user type -->
{% elif user.user_type.type == 'Office' %} {% extends '/users/office.html' %} {% endif %}
<!-- regular user -->
{% if user.user_type.type == 'Reciever' or user.user_type.type == 'Fabricator' %} {% extends 'base.html' %} {% endif %}{% block content%}
<div class="scan_barcode container">
    <div>
        <div id='barcode-img'><img src="http://barcodes4.me/barcode/c128b/ScanBarcodeLikeThisOne.gif?IsTextDrawn=1" alt=""></div>
        <form method="POST" id="barcode_form">
            {{ form.hidden_tag() }} {% for field in form if field.widget.input_type != 'hidden' %} {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span> {% endfor %} {{ field(placeholder=field.label.text, class="form-control barcode") }} {% endfor %}

            <button class="btn">Scan</button>
        </form>

        <a onclick="scanCamera()" class="btn camera-btn"> <i class="fas fa-camera"></i></a>
    </div>



    <!-- Camera Modal -->
    <div class="modal fade" id="camera_modal" tabindex="-1" role="dialog" aria-labelledby="addslabsf" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Scan Barcode</h5>
                    <button type="button" class="close" onclick="closeCamera()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>

                <div class="modal-body">
                    Make sure your camera is connected and you give it permissions to access it.
                    <div class="camera" id="camera"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="closeCamera()" data-dismiss="modal">Close</button>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}