<!-- admin user type -->
{% if user.user_type.type == 'Admin' %} {% extends '/users/admin.html' %}
<!-- office user type -->
{% elif user.user_type.type == 'Office' %} {% extends '/users/office.html' %} {% endif %}
<!-- regular user -->
{% if user.user_type.type == 'Reciever' or user.user_type.type == 'Fabricator' %} {% extends 'base.html' %} {% endif %} {% block content%}
<div class="container slab-page">
    <h3> {{slab.vendor.name}} {{slab.color.name}} {{slab.type.name}}</h3>
    <div id='slab-img'>
        <img src="{{slab.picture}}" alt="slab picture" style="width: 300px;">
    </div>
    <div class="slab-page-info">
        <h5 style="width: 100%;">Batch Number: {{slab.batch_num}} Slab #: {{slab.slab_num}}</h5>
        <h6 style="width: 100%;">ID: {{slab.label}}</h6>
        <p> Recieved Date: {{slab.created.strftime('%a, %b %d, %Y ')}}</p>
        <p>Time: {{slab.created.astimezone(timezn).strftime('%I:%M %p')}}</p>

        <p>Starting Length X Width: {{slab.starting_length}} x {{slab.starting_width}}</p>
        <p>Current Length X Width: {{slab.length}} x {{slab.width}}</p>
        <p>Square Feet: {{slab.calculate_area()}}sf</p>
        <p>Remenant: {{slab.rem}}</p>
        <P style="text-decoration: underline;">Jobs</P>
        <ul>{% for job in slab.jobs %}
            <li>{{job.name}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="slab-barcode d-block">
        <p>Click on the Barcode to print it</p>
        <button onclick="printBarcode('{{slab.label_picture}}')"><img src="{{slab.label_picture}}" alt=""></button>
    </div>
    <div class="float-right">
        <a href="/recieve" class="btn btn-primary"> Add Slab </a>
        <a href="/barcodes/1" class="btn btn-primary">Print Barcodes</a>
    </div>
    <div>

    </div>
</div> {% endblock %}