{% extends 'base.html' %} {% block content%}
<div class="container slab-page">
    <h3> {{slab.vendor.name}} {{slab.color.name}} {{slab.type.name}}</h3>
    <div id='slab-img'>
        <img src="{{slab.picture}}" alt="slab picture" style="width: 300px;">
    </div>
    <div class="slab-page-info">
        <h5 style="width: 100%;">Batch Number: {{slab.batch_num}} Slab #: {{slab.slab_num}}</h5>
        <h6 style="width: 100%;">ID: {{slab.label}}</h6>
        <p>Length: {{slab.length}} Width: {{slab.width}}</p>
        <p>Square Feet: {{slab.calculate_area()}}sf</p>
        <P>More data to come</P>
    </div>
    <div class="slab-barcode">
        <img src="{{slab.label_picture}}" alt="">
    </div>
</div> {% endblock %}