<!-- admin user type -->
{% if user.user_type.type == 'Admin' %} {% extends '/users/admin.html' %} {% endif %}
<!-- office user type -->
{% if user.user_type.type == 'Office' %} {% extends '/users/office.html' %} {% endif %} {% block display %}
<!-- slab info -->
<div class="slabs-info">
    <div>
        <h3>Slabs</h3>
        <div style="display: flex;">
            <div class="dropdown">
                <button class="btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort By:
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/slabs/sort/name-asc">Name&#8593;</a>
                    <a class="dropdown-item" href="/slabs/sort/name-desc">Name&#8595;</a>
                    <a class="dropdown-item" href="/slabs/sort/date-asc">Date&#8593;</a>
                    <a class="dropdown-item" href="/slabs/sort/date-desc">Date&#8595;</a>
                    <!-- <a class="dropdown-item" href="/slabs/sf-asc">Square Footage &#8593;</a> -->
                    <!-- <a class="dropdown-item" href="/slabs/sf-desc">Square Footage &#8595;</a> -->
                    <a class="dropdown-item" href="/slabs/sort/completed">Completed</a>
                </div>
            </div>

            <div class="search">
                <form style="display: flex;" action="/slabs/search" method='POST'><input type="text" name='search-term' placeholder="Search"><button class="search-btn"><i class="fas fa-search"></i></button></form>
            </div>
        </div>
    </div>
    <div class="slabs">
        {% for slab in slabs %}
        <div class="card">
            <img src="{{slab.picture}}" class="card-img-top" alt="slab picture">
            <div class="card-body">
                <h5 class="card-title">{{slab.vendor.name}} {{slab.color.name}}</h5>
                <p class="card-text">

                    <li>Length: {{slab.length}}</li>
                    <li>Width: {{slab.width}}</li>
                    <li>Remaining Material: {{slab.amount_left}}%</li>

                </p>
                <a href="/slab/{{slab.label}}" class="btn btn-success info-btn">INFO</a>
                <a href="/slab/{{slab.label}}/edit" class="btn btn-primary edit-btn">EDIT</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}