html,
body {
    height: 100%;
    margin: 0;
    background-image: url('/static/pics/app/background.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

.login-logo {
    max-width: 12rem;
    border-radius: 60rem;
}

.login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.login_page {
    text-align: center !important;
    width: 15em;
}

form input {
    margin-bottom: 0.5em;
}

.top-bar {
    background-color: black !important;
    color: white;
    height: 5rem;
    display: flex;
    align-items: center;
}

.topbar p {
    /* display: flex; */
    align-items: center;
    /* position: relative; */
    color: white;
    /* left: 80% */
}

.navbar-toggler {
    display: none;
    color: black !important;
    background-color: white !important;
}

.nav-right {
    float: right;
}

.navs a {
    margin: 4px;
    color: white;
}

.navs a:hover {
    color: black
}

.slabs-info,
.jobs-info {
    margin-top: 3rem;
    color: Black;
    font-weight: bolder !important;
}

.slabs {
    display: flex;
    flex-wrap: wrap;
}

.slabs .card {
    background-color: rgba(51, 49, 49, 0.466);
    margin: 0.5rem;
    border-radius: 1rem !important;
    max-width: 13rem;
    color: white;
}

.card-img-top {
    border-radius: 1rem !important;
}

.side-nav {
    background-color: rgba(231, 108, 26, 0.836);
    min-width: 10rem;
    height: fit-content;
    margin-top: 6rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    text-align: left;
}

.scan_barcode {
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.scan_barcode form {
    min-width: 40rem !important;
    border: 3px solid black;
    border-radius: 15rem;
    padding: 3rem;
    margin-top: 1rem;
}

#barcode_form button {
    background-color: forestgreen;
    border-radius: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
}

#barcode-img {
    margin-bottom: 0px;
}

form button {
    background-image: url('/static/pics/app/button.jpg');
    border-radius: 50rem !important;
    width: 40%;
    margin-top: 0.4rem;
    color: white !important;
    font-size: 2rem;
    height: 3rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

.slab-img,
.slab-img-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-group a {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}

.list-group a:hover {
    background-color: rgb(2, 22, 83);
}

.fa-trash-alt {
    color: red;
}


/* slabs page */

.slab-page h3,
#slab-img,
.slab-page-info,
.slab-barcode {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.slab-page-info p {
    width: 100%;
}

nav {
    background-color: black;
}


/* cellphone */

@media only screen and (max-width: 992px) {
    .side-nav,
    .topbar p {
        display: none;
    }
    .slabs .card {
        max-width: 12.5rem;
    }
    .nav-right p {
        display: none;
    }
    .navbar-toggler {
        display: block !important
    }
    .scan_barcode form {
        min-width: 30rem !important;
    }
}

@media only screen and (max-width:720px) {
    .slabs {
        justify-content: center;
    }
    .slabs .card {
        max-width: 12.5rem;
    }
}

@media only screen and (max-width:576px) {
    .slabs {
        justify-content: center;
    }
    .slabs .card {
        max-width: 10rem;
    }
    .info-btn,
    .edit-btn {
        font-size: 0.75rem;
    }
    .scan_barcode form {
        min-width: 20rem !important;
        border-radius: 10rem;
        padding: 1.5rem;
    }
    #barcode_form button {
        border-radius: 10rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.75rem;
    }
}

@media only screen and (max-width:400px) {
    .slabs .card {
        max-width: 18rem;
    }
}