html,
body {
    height: 100%;
    margin: 0;
    background-image: url('/static/pics/app/background.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

.navbar-brand {
    justify-content: center;
    color: White;
    font-size: 2rem;
    font-family: 'Alfa Slab One', cursive;
}

.login-logo {
    max-width: 12rem;
    border-radius: 60rem;
}

h3 {
    font-family: 'Alfa Slab One', cursive;
}

.login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.login_page {
    text-align: center !important;
    width: 15em;
}

form input {
    margin-bottom: 0.5em;
}

.top-bar {
    background-color: black !important;
    color: white;
    height: 5rem;
    display: flex;
    align-items: center;
}

.topbar p {
    align-items: center;
    color: white;
}

.navbar-toggler {
    display: none;
    color: black !important;
    background-color: white !important;
}

.nav-right {
    float: right;
}

.navs a {
    margin: 4px;
    color: white;
}

.navs a:hover {
    color: black
}

.slabs-info,
.jobs-info {
    width: 100%;
    margin-top: 3rem;
    color: Black;
    font-weight: bolder !important;
}

.slabs {
    display: flex;
    flex-wrap: wrap;
}

.slabs .card {
    background-color: rgba(51, 49, 49, 0.466);
    margin: 0.5rem;
    border-radius: 1rem !important;
    max-width: 13rem;
    color: white;
}

.card-img-top {
    border-radius: 1rem !important;
}

.side-nav {
    background-color: rgba(231, 108, 26, 0.836);
    min-width: 10rem;
    height: fit-content;
    margin-top: 5.6rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    text-align: left;
}

.scan_barcode {
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.scan_barcode form {
    min-width: 40rem !important;
    border: 3px solid black;
    border-radius: 15rem;
    padding: 3rem;
    margin-top: 1rem;
}

#barcode_form button {
    background-color: forestgreen;
    border-radius: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
}

#barcode-img {
    margin-bottom: 0px;
}

form button {
    background-image: url('/static/pics/app/button.jpg');
    border-radius: 50rem !important;
    width: 40%;
    margin-top: 0.4rem;
    color: white !important;
    font-size: 2rem;
    height: 3rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

.slab-img,
.slab-img-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-group a {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid rgba(51, 49, 49, 0.466);
}

.list-group a:hover {
    background-color: rgb(2, 22, 83);
}

#create-account {
    border-bottom: none;
}

#create-account:hover {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#slabs:hover {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.fa-trash-alt {
    color: red;
}


/* slabs page */

.slab-page h3,
#slab-img,
.slab-page-info,
.slab-barcode {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.slab-page-info p {
    width: 100%;
}

.main-nav {
    background-color: black;
}

.job-page-info {
    background-color: rgba(255, 255, 255, 0.918);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
}

.job-page-info p {
    border: 2px black solid;
    width: 23%;
    padding: 1rem;
    margin: 0.5rem;
}

.job-page-info div {
    border: 2px black solid;
    width: 31%;
    padding: 0.3rem;
    margin: 0.5rem;
}

.add-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1rem;
    max-height: 1rem;
    float: right;
    border: none !important;
}

.add-icon button {
    font-size: 1.2rem;
    border: 1px rgba(231, 108, 26, 0.836) solid;
    border-radius: 100rem;
    color: royalblue;
}

.add-icon button:hover {
    background-color: rgba(231, 108, 26, 0.836);
}

.search form,
.search button {
    display: flex;
    max-height: 2.5rem;
    margin-left: 1rem;
}

.search-btn {
    background-color: black !important;
    height: 1.8rem;
    margin-top: 0 !important;
    margin-left: 0 !important;
    align-items: center;
}

.search-btn i {
    font-size: 0.8rem !important;
}

.pages-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding-top: 0.5rem;
}

.notes {
    width: 100% !important;
}

.fa-minus-circle {
    color: red;
}

.report-tables div {
    margin: 1rem;
}

tr {
    border: 2px solid black;
}

.camera video {
    max-width: 100% !important;
}

.camera {
    max-height: 25rem;
}

.fa-camera {
    font-size: 3rem;
}

.fa-camera:hover {
    color: royalblue;
}

.img-wrap {
    position: relative;
}

.img-wrap .delete_slab {
    position: absolute;
    font-size: 2rem;
    top: 4px;
    right: 6px;
    z-index: 100;
    color: red;
}

.delete_slab {
    display: none;
}

.img-wrap:hover .delete_slab {
    display: inline-block;
    color: red;
}

#admin-cards card {
    border: darkblue 2px solid !important;
}


/* cellphone */

@media only screen and (max-width:1200px) {
    .job-page-info p {
        width: 33%;
    }
    .job-page-info div {
        width: 40%;
    }
}

@media only screen and (max-width: 992px) {
    .side-nav,
    .topbar p {
        display: none;
    }
    .slabs .card {
        max-width: 12.5rem;
    }
    .nav-right p {
        display: none;
    }
    .navbar-toggler {
        display: block !important
    }
    .scan_barcode form {
        min-width: 30rem !important;
    }
    .job-page-info p {
        width: 45%;
    }
    .job-page-info div {
        width: 50%;
    }
}

@media only screen and (max-width:720px) {
    .slabs {
        justify-content: center;
    }
    .slabs .card {
        min-width: 12.5rem !important;
    }
}

@media only screen and (max-width:576px) {
    .slabs {
        justify-content: center;
    }
    .slabs .card {
        min-width: 18rem !important;
    }
    .img-wrap img {
        min-width: 18rem;
    }
    .info-btn,
    .edit-btn {
        font-size: 0.75rem;
    }
    .scan_barcode form {
        min-width: 20rem !important;
        border-radius: 10rem;
        padding: 1.5rem;
    }
    #barcode_form button {
        border-radius: 10rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.75rem;
    }
    .job-page-info p {
        width: 100%;
    }
    .job-page-info div {
        width: 100%;
    }
}


}
@media only screen and (max-width:400px) {
    .slabs .card {
        min-width: 18rem !important;
    }
}