<!-- admin user type -->
{% if user.user_type.type == 'Admin' %} {% extends '/users/admin.html' %}
<!-- office user type -->
{% elif user.user_type.type == 'Office' %} {% extends '/users/office.html' %} {% endif %} {% block display %}
<div>
    <div style="margin-top: 2rem;">
        <h3>{{job.name.upper()}}</h3>
    </div>
    <div class="job-page-info">
        <p>PO Number: {{job.po_number}}</p>
        <p>Instalation Date: {{job.installation_date}} </p>
        <p>Fabrication Date: {{job.fabrication_date}}</p>
        <p>Company: {{job.contractor.name}}</p>
        <hr style="color: black;">
        <div>
            <h5 style="width: 100%;">Slabs
                <p class="add-icon"><button type="button" data-toggle="modal" data-target="#addslab"><i class="fas fa-plus"></i></button></p>
            </h5>
            {% for slab in job.slabs %}
            <li>{{slab.vendor.name}} {{slab.color.name}}</li>
            {% endfor %}
        </div>
        <div>
            <h5 style="width: 100%;"> Cutouts
                <p class="add-icon"><button htype="button" data-toggle="modal" data-target="#addcutout"><i class="fas fa-plus"></i></button></h5>
            {% for cutout in cutouts %}
            <li>
                {{cutout[1]}} - {{cutout[0]}}
            </li>
            {% endfor %}</div>
        <div>
            <h5 style="width: 100%;">Edges
                <p class="add-icon"><button type="button" data-toggle="modal" data-target="#addedge"><i class="fas fa-plus"></i></button></h5>
            {% for edge in edges %}
            <li> {{edge[0]}} lf - {{edge[1]}} </li>
            {% endfor %}</div>
    </div>
</div>

<!-- Cut Out Modal -->
<div class="modal fade" id="addcutout" tabindex="-1" role="dialog" aria-labelledby="addcutout" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Cutout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>

            <div class="modal-body">
                <form action="/job/{{job.id}}/addcutout" method="POST" id='form2'>
                    {{ forms[1].hidden_tag() }} {% for field in forms[1] if field.widget.input_type != 'hidden' %} {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span> {% endfor %} {{field.label.text}} : {{ field(placeholder=field.label.text, class="form-control") }} {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="form2" value="Submit">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>

        </div>
    </div>
</div>
<!-- edge Modal -->
<div class="modal fade" id="addedge" tabindex="-1" role="dialog" aria-labelledby="addedge" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Edge Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>

            <div class="modal-body">
                <form action="/job/{{job.id}}/addedge" method="POST" id='form3'>
                    {{ forms[2].hidden_tag() }} {% for field in forms[2] if field.widget.input_type != 'hidden' %} {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span> {% endfor %} {{field.label.text}} : {{ field(placeholder=field.label.text, class="form-control") }} {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="form3" value="Submit">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>

        </div>
    </div>
</div>
<!-- Slab Modal -->
<div class="modal fade" id="addslab" tabindex="-1" role="dialog" aria-labelledby="addslab" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Slab</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>

            <div class="modal-body">
                <form action="/job/{{job.id}}/addslab" id='form1' method="POST">
                    {{ forms[0].hidden_tag() }} {% for field in forms[0] if field.widget.input_type != 'hidden'%} {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span> {% endfor %} {{field.label.text}} : {{ field(placeholder=field.label.text, class="form-control") }} {% endfor %}


                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="form1">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>

        </div>
    </div>
</div>




{% endblock %}