<!-- admin user type -->
{% if user.user_type.type == 'Admin' %} {% extends '/users/admin.html' %}
<!-- office user type -->
{% elif user.user_type.type == 'Office' %} {% extends '/users/office.html' %} {% endif %} {% block display %}
<!-- jobs info -->
<div class="jobs-info">
    <div>
        <h3>Jobs</h3>
        <div style="display: flex;">
            <div class="dropdown">
                <button class="btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort By:
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/jobs/name-asc">Name&#8593;</a>
                    <a class="dropdown-item" href="/jobs/name-desc">Name&#8595;</a>
                    <a class="dropdown-item" href="/jobs/date-asc">Date&#8593;</a>
                    <a class="dropdown-item" href="/jobs/date-desc">Date&#8595;</a>
                    <a class="dropdown-item" href="/jobs/cust-asc">Customer &#8593;</a>
                    <a class="dropdown-item" href="/jobs/cust-desc">Customer &#8595;</a>
                </div>
            </div>

            <div class="search">
                <form style="display: flex;" action=""><input type="text" placeholder="Search"><button class="search-btn"><i class="fas fa-search"></i></button></form>
            </div>
        </div>
    </div>
    <div class="jobs container">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Customer</th>
                    <th scope="col">PO Number</th>
                    <th scope="col">Installation Date</th>
                    <th scope="col">Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>

                    <th scope="row">
                        <a href="/jobs/{{job.id}}">{{job.name}}</a>
                    </th>
                    <td>{{job.contractor.name}}</td>
                    <td>{{job.po_number}}</td>
                    <td>{{job.installation_date}}</td>

                    <td> <a href="/jobs/{{job.id}}/edit"><i class="fas fa-edit"></i></a>
                        <a href="/jobs/{{job.id}}/delete"> <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}