{% extends 'base.html' %} {% block top %}
<div class="container topbar">
    <h2>Office</h2>
    <a class="btn btn-danger signout" href="/logout">Sign Out</a>
</div>{% endblock %} {% block content%}
<div class="info-body d-flex justify-content-center">
    <div class="side-nav">
        <ul id='navs'>
            <li><a href="#" id='slabs'>Slabs</a></li>
            <li><a href="#" id='jobs'>Jobs</a></li>
            <li><a href="/scan">Look Up Slab</a></li>
            <li><a href="/recieve">Add Slab</a></li>
            <li><a href="/job/new">Add Job</a></li>
        </ul>
    </div>

    <!-- slab info -->
    <div class="slabs-info">
        <div>
            <h3>Slabs</h3>
        </div>
        <div class="slabs container">
            {% for slab in slabs %}
            <div class="card" style="width: 18rem;">
                <img src="{{slab.picture}}" class="card-img-top" alt="slab picture">
                <div class="card-body">
                    <h5 class="card-title">{{slab.vendor.name}} {{slab.color.name}}</h5>
                    <p class="card-text">
                        <ul>
                            <li>Length: {{slab.length}}</li>
                            <li>Width: {{slab.width}}</li>
                            <li>Remaining Material: {{slab.amount_left}}%</li>
                        </ul>
                    </p>
                    <a href="/slab/{{slab.label}}" class="btn btn-success">INFO</a>
                    <a href="/slab/{{slab.label}}/edit" class="btn btn-primary">EDIT</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- jobs info -->
    <div class="jobs-info" style="display: none;">
        <div>
            <h3>Jobs</h3>
        </div>
        <div class="jobs container">
            {{jobs}}
        </div>
    </div>

</div>
{% endblock %}