{% extends '/users/admin.html'%}{% block display %}
<div>
    <div style="margin-top: 2rem;">
        <h2>Analytics</h2>
        <div>
            {{report_title}}
            <div class="float-right">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="reportDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Week To Date
                </button>
                    <div class="dropdown-menu" id='report-dropdown' aria-labelledby="reportDropDown">
                        <form action="" method="post">
                            <button class="dropdown-item" name='report' type="submit" value="week_to_date">Week To Date</button>
                        </form>
                        <form action="" method="post">
                            <button class="dropdown-item" name='report' type="submit" value='month_to_date'>Month To Date</button></form>
                        <form action="" method="post">
                            <button class="dropdown-item" name='report' type="submit" value='year_to_date'>Year To Date</button></form>
                        <form action="" method="post">
                            <button class="dropdown-item" name='report' type="submit" value='Last_week'>Last Week</button></form>
                        <form action="" method="post" class="custom_form_report">
                            <button class="dropdown-item custom-report-btn">Custom</button>
                            <div class="customreport" style="display: none;">
                                <label for="start">Start date:</label>
                                <input type="date" id="start" name="report_start">
                                <label for="start">End date:</label>
                                <input type="date" id="end" name="report_end">
                                <button type="submit" name="report">Enter</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="main-table">
            <div style="text-align: center;">
                <h4>Jobs</h4>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Slab Name</th>
                            <th scope="col">Job Name</th>
                            <th scope="col">PO Number</th>
                            <th scope="col">Customer</th>
                            <th scope="col">SF</th>
                            <th scope="col">Slab %</th>
                            <th scope="col">LF</th>
                            <th scope="col">Cutouts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in slabjobs %}
                        <tr>

                            <td scope="row">{{item.Slab.vendor.name}} {{item.Slab.color.name}}</td>
                            <td>{{item.Job.name}} </td>
                            <td>{{item.Job.po_number}}</td>
                            <td>{{item.Job.contractor.name}}</td>
                            <td>{{item.Job.square_feet}}</td>
                            <td>{{item.percent_used}}</td>
                            <td>{{edgeslf[item.Job.id]}}</td>
                            <td>{{item.Job.cutouts|length}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="d-flex report-tables" style="flex-wrap: wrap; justify-content: center;">
            <div style="text-align: center;">
                <h4>Customers</h4>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Customer </th>
                            <th scope="col">Square Footage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contractor in data['contractors'] %}
                        <tr>
                            <th scope="row">{{contractor.upper()}}</th>
                            <td>{{data['contractors'][contractor]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div style="text-align: center;">
                <h4>Edge Detail</h4>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Edge </th>
                            <th scope="col">Linear Footage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for edge in data['lf'] %}
                        <tr>
                            <th scope="row">{{edge.upper()}}</th>
                            <td>{{data['lf'][edge]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            <div style="text-align: center;">
                <h4>Material Type</h4>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Material Type</th>
                            <th scope="col">Square Footage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for type in data['slab_types'] %}
                        <tr>
                            <th scope="row">{{type.upper()}}</th>
                            <td>{{data['slab_types'][type]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex graphs">
            <div style="text-align: center;">
                <h4>Cutouts</h4>
                <canvas id="cutoutPie" width="300rem" height="200rem"></canvas>
                <script>
                    let graphData = JSON.parse('{{ data["total_cutouts"] | tojson}}')
                    let data = getPieData(graphData)
                    let options = {
                        tooltipEvents: [],
                        showTooltips: true,
                        onAnimationComplete: function() {
                            this.showTooltip(this.segments, true);
                        },
                        tooltipTemplate: "<%= label %> - <%= value %>"
                    }
                    new Chart(document.getElementById("cutoutPie").getContext("2d")).Pie(data, options)
                </script>

                <!-- <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Cutout Type</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cutout in data['total_cutouts'] %}
                        <tr>
                            <th scope="row">{{cutout.upper()}}</th>
                            <td>{{data['total_cutouts'][cutout]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> -->
                <p>Total : {{data['total_cutouts'].total}}</p>
            </div>

            <div style="text-align: center;">
                <h4>Edge Type</h4>
                <canvas id="edgePie" width="300rem" height="200rem"></canvas>
                <script>
                    let edgeTypeData = JSON.parse('{{ data["lf_types"] | tojson}}')
                    data = getPieData(edgeTypeData)
                    options = {
                        tooltipEvents: [],
                        showTooltips: true,
                        onAnimationComplete: function() {
                            this.showTooltip(this.segments, true);
                        },
                        tooltipTemplate: "<%= label %> - <%= value %>"
                    }
                    new Chart(document.getElementById("edgePie").getContext("2d")).Pie(data, options)
                </script>
                <p>Total : {{data['lf_types'].total}}</p>
            </div>

            <div style="text-align: center;">
                <h4>Waste</h4>
                <canvas id="wastePie" width="300rem" height="200rem"></canvas>
                <script>
                    let wastedata = JSON.parse('{{ data["waste"] | tojson}}')
                    data = getPieData(wastedata)
                    options = {
                        tooltipEvents: [],
                        showTooltips: true,
                        onAnimationComplete: function() {
                            this.showTooltip(this.segments, true);
                        },
                        tooltipTemplate: "<%= label %> - <%= value %>"
                    }
                    new Chart(document.getElementById("wastePie").getContext("2d")).Pie(data, options)
                </script>
                <p>Waste Percentage: {{data['waste'].percent}} </p>
            </div>


        </div>
    </div>



</div>
{% endblock %}